@import "tailwindcss";

@font-face {
  font-family: 'Neurial Grotesk';
  src: url('/fonts/neurial-grotesk-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neurial Grotesk';
  src: url('/fonts/neurial-grotesk-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
